nav {
            display: flex;
            justify-content: space-between;
            gap: 25px;
            color: white;
        }

        .name {
            font-size: 33px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        nav :nth-child(2) {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            list-style: none;
        }

        .nav2 {
            display: flex;
            gap: 13px;
        }

        .nav2 div {
            border: 2px solid rgb(180, 192, 212);
            border-radius: 14px;
            background-color: rgb(54, 102, 247);
        }

        nav,
        .nav2 {
            padding: 18px;
            background-color: rgba(0, 60, 255, 0.895);
        }

        .monitor {
            background-color: rgb(54, 102, 247);
            /* min-width: auto; */
            min-height: 133px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            color: rgb(250, 250, 250);
            padding: 25px;
            ;
            /* position: absolute; */
        }

        .monitor :first-child {
            font-size: xx-large;
            font-weight: 333px;
            font-style: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .adds {
            background-color: aliceblue;
            text-align: center;
            display: grid;
            grid-template: auto auto;
        }

        .working_bar {
            /* border: 3px solid rgb(244, 244, 21); */
            /* border-radius: 11px; */
            min-height: 42px;
            justify-self: center;
            align-content: center;
            list-style: none;
            display: flex;
            /* position: relative; */
            /* left: auto; */
            /* right: auto; */
            top: 166px;

            /* position: bottom; */
            /* position: relative; */
        }

        .working_bar li {
            border: 5px rgba(255, 209, 3, 0.758) solid;
            border-radius: 7%;
            /* gap: -4%; */
            /* justify-content: center; */
            align-items: center;

            min-height: 34px;
            align-content: center;

        }

        .working_bar :nth-child(4) {
            background-color: rgb(79, 79, 255);
            color: aliceblue
        }

        .checkbox {
            background-color: white;
        }
        .cards{
            /* background-color: rgb(128, 169, 153); */
            display: grid;
            grid-template-columns: 134px 134px 145px 156px;
            /* grid-template-rows: auto auto; */
            border: 2px solid black;
            gap: 4px white;
            object-fit: contain;
            max-height: 122;
            

        }
        .cards card{
            border: 2px solid blue;
            /* min-height: 185px; */
            /* min-width: 155px; */
            /* gap: 4px white; */

        }